name: Node.js Package

on:
  release:
    types: [created]
  workflow_dispatch:
  push:
    branches:
      - develop
      - main
      - develop--*

permissions:
  contents: read
  id-token: write

jobs:
  setup_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      # npm ci is used here to install dependencies based on the lock file
      - run: npm ci
      - run: npm i @rollup/rollup-linux-x64-gnu

  build:
    needs: setup_dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci
      - run: npm i @rollup/rollup-linux-x64-gnu
      - run: npm run ts
      - run: npm run test

  lint:
    needs: setup_dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci
      - run: npm i @rollup/rollup-linux-x64-gnu
      - run: npm run lint

  publish-gpr:
    needs: [build, lint] # Ensure this job waits for both build and lint to complete
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm install -g npm@latest
      - run: npm i @rollup/rollup-linux-x64-gnu
      - run: npm run build
      - run: npm run changeset -- version --snapshot dev
      - name: Publish packages
        run: npm run changeset -- publish --tag dev
        env:
          NPM_CONFIG_PROVENANCE: true
